.capabilities
  padding-bottom: 115px
  &__title-container
    display: flex
    margin-bottom: 76px
  &__line
    border-bottom: 2px solid $secondary
    width: 50px
  &__title
    font-size: 18px
    line-height: 25px
    margin-bottom: 10px
    letter-spacing: 2.30625px
    white-space: nowrap
  &__text
    font-weight: 400
    font-size: 11px
    line-height: 19px
    letter-spacing: 0.2px
  &__link
    font-size: 13px
    line-height: 18px
    letter-spacing: 0.5px
    padding: 11px 29px 11px 29px
    white-space: nowrap
    text-decoration: none
    color: #FFFFFF
    background-color: $secondary
    margin-left: 35px
    &:hover
      background-color: darken($secondary, 10)
.title
  &__wrapper
    margin-right: 155px

.cards
  &__container
    display: flex
    justify-content: space-between
  &__content
    border: 1px solid #E6E6E6
    padding: 38px 22px 38px 22px
    display: block
  &__picture
    display: block
    height: 75px
    width: auto
  &__title
    margin-top: 25px
    margin-bottom: 13px
    font-size: 16px
    line-height: 24px
    letter-spacing: 0.426667px
    max-width: 250px
  &__text
    font-weight: 400
    font-size: 13px
    line-height: 23px
    max-width: 250px