.get
  background: url('../img/footer-bg.png') center no-repeat
  background-size: cover
  padding-top: 120px
  padding-bottom: 242px
  &__wrapper
    text-align: center
  &__title
    font-size: 30px
    line-height: 36px
    letter-spacing: 0.15px
    margin-bottom: 46px
  &__link
    background-color: $secondary
    text-decoration: none
    padding: 11px 26px
    color: #FFFFFF
    font-size: 13px
    line-height: 18px
    letter-spacing: 0.5px
    &:hover
      background-color: darken($secondary, 10)
      transition: 0.2s