.hero
  display: flex
  text-align: center
  align-items: center
  flex-direction: column
  background: url('../img/Hero-bg.png') center no-repeat
  background-size: cover
  padding-top: 40px
  padding-bottom: 70px
  &__logo
    width: 102px
    height: 100%
    display: block
    &-container
      text-align: center
      max-width: 103px
      margin: 0 auto
  &__title
    font-family: 'Bebas Neue'
    font-style: normal
    font-weight: 400
    font-size: 60px
    line-height: 72px
    margin-top: 305px
    margin-bottom: 0
    letter-spacing: 5.70937px
    color: #FFFFFF
  &__subtitle
    font-size: 16px
    line-height: 22px
    color: #FFFFFF
    margin-bottom: 221px
  &__scroll
    margin-top: auto
    margin-bottom: 5px
    letter-spacing: 3.7px
    font-size: 11px
    line-height: 15px
    color: #FFFFFF